<!-- Form used to display all the snippets (image + text field) -->
<form [formGroup]="annotationForm" (ngSubmit)="onSubmit(annotationForm.value)" (keydown.enter)="$event.preventDefault()">

  <div formArrayName="snippetInputs">
    <ng-container *ngFor="let snippetInput of snippetInputs.controls; let i=index">
        <div>
          <img src="{{snippets[i].url}}">
          <br>
          <input #annotationInput type="text" [formControlName]="i" (keydown.enter)="changeFocus(i)" (keydown.f9)="unreadable(i)">
          <button type="button" (click)="unreadable(i)">unreadable</button>
        </div>
    </ng-container>
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="annotationForm.invalid">Next lines</button>

</form>
<button class="btn btn-secondary" routerLink="/home">Home</button>
