<body class="body">
<header>
  <h3 class="font-weight-bold">Taliesin</h3>
</header>
  <div class="outer-div ">
    <div class="inner-div ">
      <div  class="interest-box card">
        <div class="inner-div row">
          <div class="div-home">
            <button class="btn btn-secondary home font-weight-bold" routerLink="/home">Menu principal</button>
          </div>
          <div class="div-PrM0Wa">
            <h2 class="titre-text font-weight-bold">Annotation</h2>
          </div>
          <div class="div-PrMaWa">
            <button class="btn btn-warning suggest font-weight-bold" >
              <img src="flash.png" width="25" height="25">
                Activer les suggestions

            </button>
          </div>
        </div>
        <hr>

        <!-- Form used to display all the snippets (image + text field) -->
        <form [formGroup]="annotationForm" (ngSubmit)="onSubmit(annotationForm.value)" (keydown.enter)="$event.preventDefault()">

          <div formArrayName="snippetInputs">

            <ng-container *ngFor="let snippetInput of formArrayInputs.controls; let i=index">
              <div #card class="card text-center mb-3 w-100 " (mouseover)="setHover(i)" (mouseout)="leaveHover()" [ngClass]="changeClassesCard(i)">
                <div>
                  <img class="card-img-top" src="{{snippets[i].url}}">
                </div>
                <div class="card-body">
                  <input #annotationInput type="text" [formControlName]="i" (keydown.enter)="validateAnnotation(i)" (keydown.f9)="setUnreadable(i)" (click)="focusClick(i)"  >
                  <button type="button"  class="btn btn-danger font-weight-bold" (click)="setUnreadable(i)">X</button>
                </div>
              </div>
            </ng-container>

          </div>
          <hr>
          <div class="div-PrMaWfc">
            <button #nextLines class="btn btn-success btn-text font-weight-bold" type="submit" [disabled]="annotationForm.invalid">Lignes suivantes</button>

          </div>

        </form>
      </div>
    </div>
  </div>
</body>

