<div class="col-lg-8 offset-lg-2 card">
  <h2 class="font-weight-bold ml-1" style="font-size: 2.5em">Gestion des comptes</h2>
  <hr>

  <!-- Accounts list -->
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th scope="col" class="text-center">Identifiant</th>
      <th scope="col" class="text-center">Adresse mail</th>
      <th scope="col" class="text-center">Administrateur</th>
    </tr>
    </thead>
    <tbody>

    <!-- Generate a table row for all the accounts -->
    <ng-container *ngFor="let account of accounts">
      <tr (click)="selectedAccount = account;">
        <td>{{account.name}}</td>
        <td>{{account.email}}</td>
        <td class="text-center">
          <i class="fas fa-check-circle text-success" *ngIf="account.role"></i>
          <i class="fas fa-times-circle text-danger" *ngIf="!account.role"></i>
        </td>
      </tr>
    </ng-container>

    </tbody>
  </table>
  <!-- /Accounts list -->

  <!-- Selected account modification -->
  <div *ngIf="selectedAccount">
    <hr>
    <h4 class="font-weight-bold">Détails du compte : </h4>

    <form [formGroup]="changeAccountForm">

      <div class="form-group row">
        <!-- Name -->
        <div class="col">
          <label for="updateName" class="col-form-label mr-2">Identifiant :</label>
          <input [ngModel]="selectedAccount.name" type="text" class="form-control" formControlName="name" id="updateName">
        </div>
        <!-- Mail -->
        <div class="col">
          <label for="updateEmail" class="col-form-label mr-2">Adresse mail :</label>
          <input [ngModel]="selectedAccount.email" type="text" class="form-control" formControlName="email" id="updateEmail">
        </div>
        <!-- Role -->
        <div class="col form-check form-check-inline justify-content-center">
          <label for="updateRole" class="col-form-label mr-2">Droits d'administration :</label>
          <input [ngModel]="selectedAccount.role" type="checkbox" class="form-check-input" formControlName="role" id="updateRole">
        </div>

      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-secondary btn-text font-weight-bold mx-2"
                (click)="updateSelectedAccount(changeAccountForm.value)">
          Enregistrer
        </button>
        <button class="btn btn-danger btn-text font-weight-bold mx-2" (click)="modalService.open(popUpDelete)">
          Supprimer
        </button>
      </div>

    </form>

    <!-- Template for the confirmation modal attached with the account suppression button -->
    <ng-template #popUpDelete let-modal>
      <div class="modal-header alert-danger">
        <h4 class="modal-title" id="modal-basic-title">Attention</h4>
      </div>
      <div class="modal-body">
        Vous allez supprimer le compte sélectionné, êtes-vous certain de votre décision ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close() ; deleteAccount(selectedAccount);">
          Continuer
        </button>
        <button type="button" class="btn btn-light" (click)="modal.close()">Annuler</button>
      </div>
    </ng-template>
    <!-- /Template suppression modal -->

  </div>
  <!-- /Selected account modification -->
  <hr>

  <!-- New account form -->
  <div>
    <h4 class="font-weight-bold">Ajouter un compte :</h4>

    <form [formGroup]="newAccountForm" (ngSubmit)="createNewAccount(newAccountForm.value)">
      <!-- Name -->
      <div class="form-group row">
        <label class="col-2 col-form-label" for="newName">Identifiant :</label>
        <div class="col-3">
          <input type="text" class="form-control" formControlName="name" id="newName">
        </div>
      </div>
      <!-- Mail -->
      <div class="form-group row">
        <label class="col-2 col-form-label" for="newEmail">Adresse mail :</label>
        <div class="col-3">
          <input type="text" class="form-control" formControlName="email" id="newEmail">
        </div>
      </div>
      <!-- Password -->
      <div class="form-group row">
        <label class="col-2 col-form-label" for="newPassword">Mot de passe :</label>
        <div class="col-3">
          <input type="password" class="form-control" formControlName="email" id="newPassword">
        </div>
      </div>
      <!-- Role -->
      <div class="form-group row">
        <label for="newRole" class="col-2">Droits d'administration :</label>
        <div class="col-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="role" id="newRole">
          </div>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-success btn-text font-weight-bold">
          Nouveau compte
        </button>
      </div>

    </form>
  </div>
  <!-- /New account form -->

</div>
