

  <div>
    <div class="interest-box card">
      <div class="row">
        <div class="col-xs-6">

        </div>
        <div class="col-xs-6">
          <h3 class="font-weight-bold">Gestion de la base de données</h3>
        </div>

      </div>
      <hr>
      <div class="font-weight-bold">
        Base n°1
        <br>
        Exemples annotés :
        <ngb-progressbar type="success" [value]="annotationRate">{{annotationRate}}%</ngb-progressbar>
        Exemples rejetés : {{rejectedNumber}}
      </div>
      <hr>
      <div class="position-relative mx-auto" style="width: fit-content">
        <button class="btn btn-primary btn-text font-weight-bold" >Ajouter des exemples</button>
      </div>
      <div  class="position-relative mx-auto" style="width: fit-content">
        <button class="btn btn-secondary btn-text font-weight-bold" >Sauvegarder la base</button>
        <button class="btn btn-secondary btn-text font-weight-bold" >Charger une base</button>
        <button class="btn btn-secondary btn-text font-weight-bold" *ngIf="totalNbSnippets == 0" routerLink="/dbCreation">Création d'une base</button>
      </div>
      <div class="position-relative mx-auto" style="width: fit-content">
        <button class="btn btn-secondary export font-weight-bold" [disabled]="!isExportPossible" title="Get all database at PiFF format (with images)" (click)="exportPiFF()">Exporter PiFF</button>
      </div>
  </div>
</div>
