
<div >
  <div>
    <div class="interest-box card">
      <h2 class="font-weight-bold" style="font-size: 2.5em">Login</h2>
      <hr>

      <form [formGroup]="loginForm" #form (ngSubmit)="onSubmit()">
        <div>

            <div>

                <h4 class="font-weight-bold" style="font-size: 1.3em">Pseudo</h4>
                <input formControlName="username" type="text" />

                <h4 class="font-weight-bold" style="font-size: 1.3em">MDP</h4>
                <input formControlName="password" type="password" />

            </div>

        </div>
        <hr>
        <div class="position-relative mx-auto" style="width: 20%">
          <button type="submit" class="btn btn-primary btn-text font-weight-bold">
            Connexion
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
