@import 'src/scss/theme';

.navbar-nav a{
  display: block;
  text-align: center;
}

.navbar-highlight {
  border-bottom: 5px solid $taliesin-orange;
}

.navbar-nav a:hover{
  border-bottom: 5px solid $taliesin-orange;
}

.user-not-logged {
  cursor: default;
  text-decoration: none;
  pointer-events: none;
}
