<main>
  <header>

    <nav class="navbar navbar-expand-lg navbar-light">

      <a class="navbar-brand" [routerLink]="session.getToken() ? '/home' : null" routerLinkActive="user-logged">
        <img src="assets/img/taliesin-logo-bicolor-alpha-blackcursor.png" alt="Logo taliesin" style="max-height: 42px;">
      </a>

      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed" *ngIf="session.getToken()">
        &#9776;
      </button>

      <div class="collapse navbar-collapse" [ngbCollapse]="!isMenuCollapsed" *ngIf="session.getToken()">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a #navButton id="homepage"   class="nav-item nav-link active highlight"  (click)="updateIndicator()"  href="#" routerLink="/home">Menu principal</a>
          </li>
          <li class="nav-item">
            <a #navButton id="annotation" class="nav-item nav-link active lowlight"   (click)="updateIndicator()"  href="#" routerLink="/annotation">Annotation</a>
          </li>
          <li class="nav-item">
            <a #navButton id="database"   class="nav-item nav-link active lowlight"   (click)="updateIndicator()"  href="#" routerLink="/dbManagement">Base de données</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right ml-auto">
          <li class="nav-item">
            <a #navButton class="nav-item-light nav-link active font-weight-bold disconnect" href="#" routerLink="" (click)="logout_user()">
              Déconnexion
            </a>
          </li>
        </ul>
      </div>
    </nav>

  </header>
  <div class="body">
    <error-display></error-display>
    <router-outlet></router-outlet>
  </div>

 </main>


