<main>
  <header>

    <nav class="navbar navbar-expand-lg navbar-light">

      <a class="navbar-brand font-weight-bold" href="#" routerLink="/webpage">Taliesin</a>

      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
      </button>

      <div class="collapse navbar-collapse" [ngbCollapse]="!isMenuCollapsed">
        <div class="navbar-nav">
          <a #navButton id="homepage"   class="nav-item nav-link active highlight" (click)="updateIndicator()"  href="#" routerLink="/home">Menu principal </a>
          <a #navButton id="annotation" class="nav-item nav-link active lowlight" (click)="updateIndicator()"  href="#" routerLink="/annotation">Annotation</a>
          <a #navButton id="database"   class="nav-item nav-link active lowlight" (click)="updateIndicator()"  href="#" routerLink="/dbManagement">Base de données</a>
          <a class="nav-item nav-link active lowlight" (click)="updateIndicator()"  href="#" routerLink="" *ngIf="session.getToken()" (click)="logout_user()">Déconnexion</a>
        </div>
      </div>
    </nav>

  </header>

  <div class="body">
    <error-display></error-display>
    <router-outlet></router-outlet>
  </div>

</main>


