.navbar-nav a{
  display: block;
  text-align: center;
}

.highlight {
  border-bottom: 5px solid #F05A42;
}

.lowlight{
  border: 5px solid transparent;
}

.navbar-nav a:hover{
  border-bottom: 5px solid #F05A42;
}
.navbar-nav .disconnect {
  background: #F05A42;
  color: #eeeeee ;
  border-radius: 5px;
  border : none;
  font-size: 0.9em;
}
