<div >
  <div>
    <div class="interest-box card">
      <h2 class="font-weight-bold" style="font-size: 2.5em">Gestion des comptes</h2>
      <hr>
      <ul class="account">

        <div class=" row position-relative mx-auto" >
          <label class="font-weight-bold col 3 text-center" style="text-decoration: underline" > Identifiant</label>
          <label class="font-weight-bold col 3 text-center" style="text-decoration: underline"> Adresse mail</label>
          <label class="font-weight-bold col 3 text-center" style="text-decoration: underline">  Administrateur</label>
        </div>

        <li *ngFor="let account of accounts"
            [class.selected]="account === selectedAccount"
            (click)="onSelect(account)"
            style="list-style: none">
          <div class="div div-list" style="padding-bottom: 3px">
            <div class="row position-relative mx-auto acc-visual">
              <label class="col 3 text-center">{{account.name}}</label>
              <label class="col 3 text-center">{{account.email}}</label>
              <input class="col 3 text-center" [(ngModel)]="account.role" type="checkbox" placeholder="admin" (click)="false"/>
            </div>
          </div>
        </li>
      </ul>

      <div *ngIf="selectedAccount">
        <hr>
        <h4 class="font-weight-bold" >Détails du compte : </h4>
        <form [formGroup]="changeAccountForm">
          <div class=" row position-relative mx-auto" >
            <div class="col 3" >
              <label for="name">Identifiant :</label>
              <input [ngModel]="selectedAccount.name" disabled placeholder="name" type="text" formControlName="name" id="changeName">
            </div>
            <div class="col 3" >
              <label for="email">Adresse mail :</label>
              <input [ngModel]="selectedAccount.email" placeholder="email" type="text" formControlName="email" id="changeEmail">
            </div>
            <div class="col 3" >
              <label for="role">Droits d'administration :</label>
              <input [ngModel]="selectedAccount.role" type="checkbox" placeholder="admin" formControlName="role" id="changeRole">
            </div>
          </div>
          <div class="col-xs-6 text-center">
            <button type="submit" class="btn btn-info btn-text font-weight-bold" (click)="onUpdate(changeAccountForm.value)">
              Enregistrer
            </button>
            <button class="btn btn-danger btn-text font-weight-bold" (click)="modalService.open(popUpDelete)">
              Supprimer
            </button>
          </div>
        </form>

        <!--TEMPLATE FOR THE CONFIRMATION MODAL ATTACHED WITH THE SUPPRESSION BUTTON -->
        <ng-template #popUpDelete let-modal>
          <div class="modal-header alert-danger">
            <h4 class="modal-title" id="modal-basic-title">Attention</h4>
          </div>
          <div class="modal-body">
            Vous allez supprimer le compte sélectionné, êtes-vous certain de votre décision ?
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" (click)="modal.close() ; onSubmit(Delete(selectedAccount));">Continuer</button>
            <button type="button" class="btn btn-light" (click)="modal.close()">Annuler</button>
          </div>
        </ng-template>

      </div>
      <hr>

      <div>
        <h4 class="font-weight-bold" >Ajouter un compte :</h4>
        <form [formGroup]="accountForm" (ngSubmit)="onSubmit(accountForm.value)">
          <div class=" row position-relative mx-auto" >
            <div class="col 3" >
              <label for="name">Identifiant :</label>
              <input type="text" formControlName="name" id="name">
            </div>
            <div class="col 3" >
              <label for="email">Adresse mail :</label>
              <input type="text" formControlName="email" id="email">
            </div>
            <div class="col 3" >
              <label for="role">Droits d'administration :</label>
              <input type="checkbox" formControlName="role" id="role">
            </div>
          </div>
          <div class="col-xs-6 text-center">
            <button type="submit" class="btn btn-success btn-text font-weight-bold">
              Nouveau compte
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
