<body>
  <header>
    <h3>Taliesin</h3>
  </header>
  <div class="outer-div ">
    <div class="inner-div ">
      <div class="interest-box card">
        <div class="inner-div row">
          <div class="div-home">
            <button class="btn btn-secondary home" routerLink="/home">Menu principal</button>
          </div>
          <div class="div-DB_Man">
            <button class="btn btn-primary DB_Man" routerLink="/dbManagement">Gestion de la base de données</button>
          </div>
          <div class="div-title">
            <h3 class="title-create">Création d'une base</h3>
          </div>
        </div>
        <hr>
        <div>
          <!-- First part of the creation, that initializes the database in the backend -->
          <form [formGroup]="dbCreationForm" (ngSubmit)="onSubmit(dbCreationForm.value)">
            <label>
              Nom de la base:
              <input type="text" formControlName="dbName">
            </label>
            <button class="btn btn-primary" type="submit" [disabled]="dbCreationForm.invalid">Créer</button>
          </form>
          <!-- Second part of the creation, that uploads files. Displayed only if new db was initialized successfully -->
          <ng-container id="upload" *ngIf="creationSuccessful">
            <!-- hidden input triggered by addFiles(), allowing to use buttons instead of inputs -->
            <input type="file" #file style="display: none" (change)="onFilesAdded()" multiple/>
            <button class="btn btn-outline-secondary" (click)="addFiles()">
              Ajouter des fichiers
            </button>
            <button class="btn btn-outline-primary" [disabled]="uploadInProgress || files.size == 0" (click)="upload()"> {{primaryButtonText}} </button>
            <br>
            <div *ngFor="let file of files">
              <h2>{{file.name}}</h2>
              <ngb-progressbar *ngIf="progresses" type="success" [value]="progresses[file.name].progress | async"></ngb-progressbar>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</body>

