$enable-validation-icons: false; //hide the "!" icon when a form is invalid

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";

// RED
$taliesin-red: #e91430;
$taliesin-red-light: rgba(255, 3, 0, 0.37);

// ORANGE
$taliesin-orange: #f05a42;

// YELLOW
$taliesin-yellow: #fbbc5c;
$taliesin-yellow-light: #fef7af;
// Icons
$taliesin-yellow-gold: #f8bd28;

// BLUE
$taliesin-blue: #2f5d77;
// Texts
$taliesin-blue-dark: #0e2a47;
$taliesin-blue-dark2: #314256;
$taliesin-blue-light: #94c2db;
$taliesin-blue-active: rgb(105, 105, 206);

// GRAY
// Background
$taliesin-gray: #595959;
// Texts
$taliesin-gray-dark: #202724;
$taliesin-gray-light: #eeeeee;

// GREEN
$taliesin-green: #00be72;
$taliesin-green-light: rgba(0, 255, 0, 0.39);

$theme-colors: (
  "primary": $taliesin-orange,
  "secondary": $taliesin-blue,
  "success": $taliesin-green,
  "validated": $taliesin-green-light,
  "info": $taliesin-blue-light,
  "active": $taliesin-blue-active,
  "warning": $taliesin-yellow,
  "danger": $taliesin-red,
  "unreadable": $taliesin-red-light,
  "light": $taliesin-gray-light,
  "dark": $taliesin-gray-dark
);
