<div >
  <div>
    <div class="col-lg-8 offset-lg-2 card">
      <h2 class="font-weight-bold" style="font-size: 2.5em">Menu principal</h2>
      <hr>

      <div class="position-relative mx-auto text-center" style="width: 20%">
        <button class="btn btn-primary btn-text font-weight-bold" (click)="this.appComponent.updateNavIndicator('annotation-nav')" routerLink="/annotation">
          Annotation
        </button>
      </div>

      <div class=" row position-relative mx-auto" >

        <div class="col-xs-6 text-center">
          <button class="btn btn-secondary btn-text font-weight-bold" (click)="this.appComponent.updateNavIndicator('dbManagement-nav')" routerLink="/dbManagement">
            <i class="fas fa-cog"></i>
            Gestion de la base de données
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
