html {
  /* To make use of full height of page*/
  min-height: 100vh;
  margin: 0;
}
body{
  background-color: rgba(193, 215, 241, 0.47);
  min-height: 100vh;
  margin: 0;
  width: available;
}
header{
  background-color: white;
}
.head-text{
  font-weight: bold;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.interest-box{
  border: rgba(193, 215, 241, 0.47) solid 1px;
  border-style: groove;
  background-color: white;
  margin: auto;
  width: 50%;
  height: 50%;
  padding: 15px;
}

.titre-text{
  font-size: 2.5em;
  font-weight : bold;
}

.titre-base{
  font-size: 1.3em;
  font-weight : bold;
}
.btn-atn{
  position: relative;
  margin: auto;
  width: 20%;
}
.annot{
  border : none;
  background-color: #5ebe0f;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
}

.btns-DB_Rec{
  position: relative;
  margin: auto;
  width: 60%;
}
.DB_Rec{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  border : none;
  background-color: #153ebe;
}
